[submodule "vendor/github.com/Sirupsen/logrus"]
	path = vendor/github.com/Sirupsen/logrus
	url = https://github.com/Sirupsen/logrus.git
	branch = 3f603f494d61c73457fb234161d8982b9f0f0b71
[submodule "vendor/gopkg.in/urfave/cli.v2"]
	path = vendor/gopkg.in/urfave/cli.v2
	url = https://github.com//urfave/cli
	branch = e485446237011b8abac93919242e6f059ad56c87
[submodule "vendor/github.com/wunderkraut/radi-api"]
	path = vendor/github.com/wunderkraut/radi-api
	url = https://github.com/wunderkraut/radi-api.git
	branch = 6eb9f0d9a7d24d6e86d4664eaa6ac862e111ac2d
[submodule "vendor/github.com/wunderkraut/radi-handlers"]
	path = vendor/github.com/wunderkraut/radi-handlers
	url = https://github.com/wunderkraut/radi-handlers.git
	branch = 2cabf9d6c2b9197b6480b354e32ab8cffe6e60ea
[submodule "vendor/github.com/wunderkraut/radi-handler-upcloud"]
	path = vendor/github.com/wunderkraut/radi-handler-upcloud
	url = https://github.com/wunderkraut/radi-handler-upcloud.git
	branch = bf7cb512d2c8724dbb5e5f561794926053f6d121
[submodule "vendor/github.com/wunderkraut/radi-handler-rancher"]
	path = vendor/github.com/wunderkraut/radi-handler-rancher
	url = https://github.com/wunderkraut/radi-handler-rancher.git
	branch = ca6bd4c84c95223d240f41e7662a471282d75fc0
[submodule "vendor/github.com/wunderkraut/radi-handler-libcompose"]
	path = vendor/github.com/wunderkraut/radi-handler-libcompose
	url = https://github.com/wunderkraut/radi-handler-libcompose.git
	branch = c43115c4f9c5d297ac53bc190de4067ade3d5dee