[submodule "vendor/github.com/Sirupsen/logrus"]
	path = vendor/github.com/Sirupsen/logrus
	url = https://github.com/Sirupsen/logrus.git
	branch = 3f603f494d61c73457fb234161d8982b9f0f0b71
[submodule "vendor/gopkg.in/urfave/cli.v2"]
	path = vendor/gopkg.in/urfave/cli.v2
	url = https://github.com//urfave/cli
	branch = e485446237011b8abac93919242e6f059ad56c87
[submodule "vendor/github.com/wunderkraut/radi-api"]
	path = vendor/github.com/wunderkraut/radi-api
	url = https://github.com/wunderkraut/radi-api.git
	branch = 43477788e2aaf433ad3ad4b5dd375d4e7bcf1c98
[submodule "vendor/github.com/wunderkraut/radi-handlers"]
	path = vendor/github.com/wunderkraut/radi-handlers
	url = https://github.com/wunderkraut/radi-handlers.git
	branch = 2057fb8ba44d2db78782d6261b09acb9905c1557
[submodule "vendor/github.com/wunderkraut/radi-handler-upcloud"]
	path = vendor/github.com/wunderkraut/radi-handler-upcloud
	url = https://github.com/wunderkraut/radi-handler-upcloud.git
	branch = fafdc3b04f4a0364f14be3e53a83112ffff01739
[submodule "vendor/github.com/wunderkraut/radi-handler-rancher"]
	path = vendor/github.com/wunderkraut/radi-handler-rancher
	url = https://github.com/wunderkraut/radi-handler-rancher.git
	branch = fafdc3b04f4a0364f14be3e53a83112ffff01739
