assets/public/*
assets/private/*
assets/backup/*
backup/*

source/vendor
source/web/core
source/web/modules/contrib
source/web/themes/contrib
source/web/profiles/contrib

source/web/sites/example.*
source/web/sites/*/default.*
source/web/sites/*/services.local.yml
source/web/sites/*/settings.local.php
source/web/sites/*/files

.DS_Store
